@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.header {
  width: 40%;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: rgb(37, 37, 37);
}

.header h1 {
  font-size: 2.75rem;
  position: relative;
  padding: 0;
  margin: 0;
}

.side-bar-button {
  position: relative;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    margin: 2rem auto 2rem auto;
  }
}
