.side-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25rem;
    background-color: white;
    animation-duration: 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
    z-index: 1;
}

.side-bar.appear {
    animation-name: slide-from-left;
    animation-direction: normal;
}

.side-bar.disappear {
    animation-name: slide-from-left;
    animation-direction: reverse;
  }

  .side-bar--content {
    position: relative;
    margin-top: 2rem;
    width: 70%;
  }

  .side-bar--content > h2 {
    text-align: center;
    font-size: 2rem;
  }

.side-bar--content > ul {
    list-style: none;
    padding: 0;
    margin-top: 2.5rem;
}

.side-bar--content > ul > li {
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 0.5rem;
    border-bottom: 1px solid rgb(156, 156, 156);
    font-size: 0.95rem;
}

.input-items {
    margin-top: 3rem;
    text-align: center;
}

.my-lists--input {
    width: 12rem;
}

@keyframes slide-from-left {
    0% {
        left: -25rem
    }
    100% {
        left: 0%;
    }
}
