.bar-label {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sort {
  color: #0288d1;
}

.label-done {
  width: 6rem;
}

.label-done.filter-button {
  margin: 0;
}

.label-text {
  width: 30rem;
}

.label-date {
  width: 10rem;
}

.label-tag {
  width: 10rem;
}

.label-remove {
  width: 5rem;
}

.column-titles {
  display: flex;
  flex-direction: row;
  width: 60rem;
  gap: 3px;
  justify-content: center;
  align-items: space-around center;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: space-around center;
}
