.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: space-around center;
  margin-bottom: 5rem;
}

.empty {
  font-size: 1.1rem;
  color: rgb(41, 41, 41);
}

.labels {
  display: flex;
  flex-direction: row;
  width: 60rem;
  gap: 3px;
  justify-content: center;
  align-items: space-around center;
}

.label {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sort {
  color: #0288d1;
}

.label-done {
  width: 5rem;
}

.label-done.filter-button {
  margin: 0;
}

.label-text {
  width: 32rem;
}

.label-date {
  width: 10rem;
}

.label-tag {
  width: 10rem;
}

.label-remove {
  width: 5rem;
}

@media only screen and (max-width: 600px) {
  .tasks-list {
    position: relative;
    width: 100%;
    gap: 10px;
    margin-bottom: 3rem;
  }

  .empty {
    text-align: center;
  }

  .labels {
    display: none;
  }

  .label-done,
  .label-remove {
    width: 3.5rem;
  }

  .label-text {
    width: 18rem;
  }

  .label-date,
  .label-tag {
    display: none;
  }
}
